Repository govuk-one-login/onboarding-product-page, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alphagov/di-sse-approvers, @alphagov/di-sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @alphagov/di-sse-content, @govuk-one-login/sse-content

.github/CODEOWNERS:

# Global
*                   @alphagov/di-sse-approvers          @alphagov/di-sse-frontend
*                   @govuk-one-login/sse-approvers      @govuk-one-login/sse-frontend

# Content
/src/views/			@alphagov/di-sse-content			@alphagov/di-sse-approvers
/src/views/			@govuk-one-login/sse-content	    @govuk-one-login/sse-approvers

SSE-3241: Updated deployment config for Product Pages variables
  ci/configure-deployment-parameters.sh
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

updated test data
  features/support/steps/contact-us-steps.ts
  features/support/steps/shared-steps.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3152 GA4 Implementation, install and configure one-login-analytics module, configure views, adding client side javascript, adding new environment variables
  .env.example
  README.md
  assets/javascripts/analytics-cookie-consent.js
  assets/javascripts/cookies.js
  assets/javascripts/ua.js
  package-lock.json
  package.json
  src/app.ts
  src/views/about.njk
  src/views/about/checking-users-identities.njk
  src/views/about/evidence-types.njk
  src/views/about/signed-in-experience.njk
  src/views/about/signing-users-in.njk
  src/views/accessibility.njk
  src/views/base.njk
  src/views/common/cookie-banner.njk
  src/views/contact-us-details.njk
  src/views/contact-us.njk
  src/views/cookies.njk
  src/views/documentation-change-credentials.njk
  src/views/documentation-design-recommendations.njk
  src/views/documentation-identity-journeys.njk
  src/views/documentation-let-users-navigate.njk
  src/views/documentation-save-progress.njk
  src/views/documentation-user-journeys.njk
  src/views/documentation.njk
  src/views/getting-started.njk
  src/views/index.njk
  src/views/macros/ga4-opl-template.njk
  src/views/macros/ga4-opl.njk
  src/views/privacy-policy.njk
  src/views/register.njk
  src/views/roadmap.njk
  src/views/support.njk
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-content

SSE-3152 - Add taxonomies to confirmation and error pages
  src/views/contact-us-confirm.njk
  src/views/register-confirm.njk
  src/views/register-error.njk
Owners: @govuk-one-login/sse-content, @govuk-one-login/sse-approvers

SSE-3099: Moved monitoring from Product Pages to Infrastructure repo.
  monitoring/.node-version
  monitoring/lambda/README.md
  monitoring/lambda/package-lock.json
  monitoring/lambda/package.json
  monitoring/lambda/sns-to-slack.ts
  monitoring/smoke-tests.yaml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3200: Moved WebACl to infrastructure directory.
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update packages for dependabot issue.
  package-lock.json
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3200: Corrected failing linting.
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

add energysecurity.gov.uk to the email domain allow list
  resources/allowed-email-domains.txt
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

add energysecurity.gov.uk to the email domain allow list
  resources/allowed-email-domains.txt
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

add energysecurity.gov.uk to the email domain allow list
  resources/allowed-email-domains.txt
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

add energysecurity.gov.uk and ics.gov.uk to the email domain allowlist
  resources/allowed-email-domains.txt
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

add ukri.org
  resources/allowed-email-domains.txt
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3277 Add ics.gov.uk domain, to allowed list
  resources/allowed-email-domains.txt
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3272 Adding additional email domains
  package-lock.json
  resources/allowed-email-domains.txt
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Create RealJiraService and validate Env Vars
  src/lib/jira/realJira/realJiraService.ts
  src/lib/util/EnvironmentVariable.ts
  test/lib/jira/realJira/realJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

[SSE-3210]: Adds some Jira Config values to a constant file
  src/config/jiraConfig.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Create stubJiraService
  src/lib/jira/interface.ts
  src/lib/jira/stubJira/stubJiraService.ts
  src/lib/util/getRequiredEnv.ts
  test/lib/jira/stubService/stubJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Create test constraints for Reg Interest Jira Form
  test/lib/jira/testConstants.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add customfield_11542 total annual users
  src/lib/jira/interface.ts
  src/lib/jira/realJira/realJiraService.ts
  test/lib/jira/realJira/realJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add customfield_11532 & customfield_11533 Service details
  src/lib/jira/realJira/realJiraService.ts
  test/lib/jira/realJira/realJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add customfield_11538 Service Intergration Type
  src/lib/jira/interface.ts
  src/lib/jira/realJira/realJiraService.ts
  test/lib/jira/realJira/realJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 add customfield_11530 & customfield_11541 org details
  src/lib/jira/realJira/realJiraService.ts
  test/lib/jira/realJira/realJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add customfield_11545 & customfield_11546 service details
  src/lib/jira/realJira/realJiraService.ts
  test/lib/jira/realJira/realJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add POST to Jira upon completion of register interest form
  src/controllers/register.ts
  test/lib/jira/jiraTicketService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add customfield_11539 & customfield_11540 form metadata
  src/lib/jira/realJira/realJiraService.ts
  test/lib/jira/realJira/realJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add JiraTicketService
  src/lib/jira/JiraTicketService.ts
  src/lib/jira/interface.ts
  test/lib/jira/jiraTicketService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add customfield_11543 & customfield_11544 Help Requests
  src/lib/jira/realJira/realJiraService.ts
  test/lib/jira/realJira/realJiraService.spec.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add new ENV Vars to .env.example
  .env.example
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add Default on feature flag to sheets integration
  .env.example
  src/controllers/register.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3210 Add new Jira ENV Vars to Cloudformation
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3267 clean up infra
  ci/README.md
  ci/apply-github-actions-aws-config.sh
  ci/aws-accounts.json
  ci/aws.sh
  ci/configure-deployment-parameters.sh
  ci/github-actions-aws-config.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3290 - controller to manage new Google Sheet tab and associated environment
  infrastructure/frontend/frontend.template.yml
  package-lock.json
  src/controllers/html-prototype-access.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3290 - controller to manage new Google Sheet tab and associated environment
  infrastructure/frontend/frontend.template.yml
  package-lock.json
  src/controllers/html-prototype-access.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3290 Creating new branch
  README.md
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3291 SSE-3292 SSE-3293 SSE-3295 Frontend work for HTML Prototype Access
  package-lock.json
  src/controllers/prototype.ts
  src/routes/site.ts
  src/views/base-form.njk
  src/views/documentation-check-email.njk
  src/views/documentation-end-to-end-prototype.njk
  src/views/documentation-enter-email-address.njk
  src/views/macros/form.njk
  src/views/side-nav/documentation-side-nav.njk
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-content

SSE-3294 - Implement writing to google sheet
  infrastructure/frontend/frontend.template.yml
  package-lock.json
  src/controllers/html-prototype-access.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3294 Connect sheets functionality to frontend
  src/controllers/html-prototype-access.ts
  src/controllers/prototype.ts
  src/routes/site.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

BAU: bumps express to v 4.19.2
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3301: Testing that secrets can be correctly retrieved from custom KMS key.
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend
