Repository govuk-one-login/onboarding-product-page, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alphagov/di-sse-approvers, @alphagov/di-sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @alphagov/di-sse-content, @govuk-one-login/sse-content

Create delete-preview-branches.yml
  .github/workflows/delete-preview-branches.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update delete-preview-branches.yml
  .github/workflows/delete-preview-branches.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update and rename delete-preview-branches.yml to delete-previews-branches.yml
  .github/workflows/delete-previews-branches.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Delete .github/workflows/delete-previews-branches.yml
  .github/workflows/delete-previews-branches.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployments.yml
  .github/workflows/clean-up-deployments.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployments.yml
  .github/workflows/clean-up-deployments.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

check PR workflow
  .github/workflows/check-code-quality.yml
  .github/workflows/check-pr.yml
  .github/workflows/deploy-component.yml
  .github/workflows/run-acceptance-tests.yml
  .github/workflows/run-unit-tests.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployments.yml
  .github/workflows/clean-up-deployments.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployments.yml
  .github/workflows/clean-up-deployments.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployments.yml
  .github/workflows/clean-up-deployments.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

check PR workflow
  .github/workflows/check-pr.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

check PR workflow (#258)
  .github/workflows/check-code-quality.yml
  .github/workflows/check-pr.yml
  .github/workflows/deploy-component.yml
  .github/workflows/run-acceptance-tests.yml
  .github/workflows/run-unit-tests.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

removed paas workflow
  .github/workflows/clean-up-deployments.yml
  .github/workflows/publish.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

removed paas workflow (#259)
  .github/workflows/clean-up-deployments.yml
  .github/workflows/publish.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Create clean-up-deployment.yml
  .github/workflows/clean-up-deployment.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployment.yml
  .github/workflows/clean-up-deployment.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployment.yml
  .github/workflows/clean-up-deployment.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployment.yml
  .github/workflows/clean-up-deployment.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployment.yml
  .github/workflows/clean-up-deployment.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update deploy-branch.yml
  .github/workflows/deploy-branch.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update deploy-branch.yml
  .github/workflows/deploy-branch.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployment.yml
  .github/workflows/clean-up-deployment.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update clean-up-deployment.yml
  .github/workflows/clean-up-deployment.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

release (#261)
  .github/workflows/check-code-quality.yml
  .github/workflows/check-pr.yml
  .github/workflows/clean-up-deployment.yml
  .github/workflows/clean-up-deployments.yml
  .github/workflows/deploy-component.yml
  .github/workflows/publish.yml
  .github/workflows/run-acceptance-tests.yml
  .github/workflows/run-unit-tests.yml
  infrastructure/frontend/frontend.template.yml
  src/app.ts
  src/views/accessibility.njk
  src/views/base.njk
  src/views/getting-started.njk
  src/views/privacy-policy.njk
  src/views/roadmap.njk
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-content

Delete paas deployment workflow
  .github/workflows/deploy-to-paas.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Delete paas deployment workflow (#262)
  .github/workflows/deploy-to-paas.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3046 - Remove content from user journeys page
  src/views/documentation-user-journeys.njk
Owners: @govuk-one-login/sse-content, @govuk-one-login/sse-approvers

SSE-3044 removing WAF
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

release latest code (#268)
  .github/workflows/deploy-to-paas.yml
  infrastructure/frontend/frontend.template.yml
  src/views/documentation-user-journeys.njk
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-content

add healthcheck url
  Dockerfile
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update Dockerfile
  Dockerfile
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update Dockerfile
  Dockerfile
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update Dockerfile
  Dockerfile
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-2970 update ECS Task Definition
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update frontend.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Sse-2970 (#269)
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3087 remove logging for google api implementation
  package-lock.json
  src/lib/sheets/realSheets/realSheetsService.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3089 - update logging for zendesk service
  src/controllers/contact-us.ts
  src/lib/zendesk/realZendesk/realZendeskService.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Deploy Latest code (PROD Release) (#271)
  infrastructure/frontend/frontend.template.yml
  package-lock.json
  src/controllers/contact-us.ts
  src/lib/sheets/realSheets/realSheetsService.ts
  src/lib/zendesk/realZendesk/realZendeskService.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-2830: Updated pinning to latest version of deploy-fargate github action.
  .github/workflows/build-frontend-image.yml
  .github/workflows/check-code-quality.yml
  .github/workflows/delete-sam-stack.yml
  .github/workflows/deploy-component.yml
  .github/workflows/deploy-smoke-tests.yml
  .github/workflows/upload-frontend.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

.github/CODEOWNERS:

# Global
*                   @alphagov/di-sse-approvers          @alphagov/di-sse-frontend
*                   @govuk-one-login/sse-approvers      @govuk-one-login/sse-frontend

# Content
/src/views/			@alphagov/di-sse-content			@alphagov/di-sse-approvers
/src/views/			@govuk-one-login/sse-content	    @govuk-one-login/sse-approvers
