Repository govuk-one-login/onboarding-product-page, changes with the owners that .github/CODEOWNERS names for each.
All owners: @alphagov/di-sse-approvers, @alphagov/di-sse-frontend, @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @alphagov/di-sse-content, @govuk-one-login/sse-content

Create Paas_image.yml
  .github/Paas_image.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-2987 add DNS record for product pages
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-2987 add DNS record for product pages (#230)
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Delete express directory
  express/.env.example
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-2987 Add workflow for Prod deployment
  .github/workflows/publish-prod.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update build.yml
  .github/workflows/build.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update build.yml
  .github/workflows/build.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update build.yml
  .github/workflows/build.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3015 - Update Roadmap page to reflect recent Admin Tool release
  src/views/roadmap.njk
Owners: @govuk-one-login/sse-content, @govuk-one-login/sse-approvers

Create build-frontend.yml
  .github/workflows/build-frontend.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Create build-frontend-image.yml
  .github/workflows/build-frontend-image.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Create deploy-component.yml
  .github/workflows/deploy-component.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update deploy-branch.yml
  .github/workflows/deploy-branch.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

express
  express/express.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

axios change
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update build-frontend.yml
  .github/workflows/build-frontend.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

deleted express.yml
  express/express.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

BAU - Log out migration data
  src/routes/site.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update build-frontend-image.yml
  .github/workflows/build-frontend-image.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Create express.yml
  express/express.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

BAU - remove repo migration data
  src/routes/site.ts
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

updated frontend template
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3013 add env vars in ecs
  ci/aws-accounts.json
  ci/aws.sh
  ci/configure-deployment-parameters.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE-3013 add env vars in ecs (#235)
  ci/aws-accounts.json
  ci/aws.sh
  ci/configure-deployment-parameters.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

main to release sync (#236)
  ci/aws-accounts.json
  ci/aws.sh
  ci/configure-deployment-parameters.sh
  infrastructure/frontend/frontend.template.yml
  src/views/roadmap.njk
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend, @govuk-one-login/sse-content

SSE3013 add env var
  ci/configure-deployment-parameters.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE3013 add env var (#237)
  ci/configure-deployment-parameters.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Create delete-sam-stack.yml
  .github/workflows/delete-sam-stack.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update delete-deployment.yml
  .github/workflows/delete-deployment.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE2987 add vcap secret and update frontend template
  ci/configure-deployment-parameters.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update delete-sam-stack.yml
  .github/workflows/delete-sam-stack.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

SSE2987 add vcap secret and update frontend template (#239)
  ci/configure-deployment-parameters.sh
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update configure-deployment-parameters.sh
  ci/configure-deployment-parameters.sh
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update frontend.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

code vulnerabilities
  package-lock.json
  package.json
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update deploy-branch.yml
  .github/workflows/deploy-branch.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update deploy-branch.yml
  .github/workflows/deploy-branch.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update frontend.template.yml
  infrastructure/frontend/frontend.template.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

Update deploy-branch.yml
  .github/workflows/deploy-branch.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

updated deploy-branch
  .github/workflows/deploy-branch.yml
Owners: @govuk-one-login/sse-approvers, @govuk-one-login/sse-frontend

.github/CODEOWNERS:

# Global
*                   @alphagov/di-sse-approvers          @alphagov/di-sse-frontend
*                   @govuk-one-login/sse-approvers      @govuk-one-login/sse-frontend

# Content
/src/views/			@alphagov/di-sse-content			@alphagov/di-sse-approvers
/src/views/			@govuk-one-login/sse-content	    @govuk-one-login/sse-approvers
